<nav class="navbar">
    <a class="brand">Tao Bao</a>
    <ul class="nav">
        <%pages.forEach(page => {%>
            <%if (page.slug == "home") {%>
                <li><a href="/"><%=page.title%></a></li>
            <%}else {%>
                <li><a href="<%=page.slug%>"><%=page.title%></a></li>
            <%}%>
        <%})%>
    </ul>
    <div class="dropdown">
        <li class="dropdown-menu">User Management</li>
        <div class="dropdown-content">
            <a href="#">Welcome, user.name</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
        </div>
    </div>
</nav>
