<%- include("../partials/admin/header.ejs"); -%>
<br>
<br>
<h1>Add Page</h1>
<a href="/admin/pages">Back To Pages</a>
<%- include("../admin/_form_fileds.ejs"); -%>
<br>
<br>

<%- include("../layouts/admin/layout.ejs"); -%>
