<%- include("../partials/admin/header.ejs"); -%>
<br>
<br>
<h1>Edit Page</h1>
<a href="/admin/pages">Back To Pages</a>
<br>
<br>
<form action="/admin/pages/edit_page/<%=pages._id%>?_method=PUT" method="post">
    <%- include("../admin/_form_fileds.ejs"); -%>
    <a href="/admin/pages/">Cancel</a>
    <button type="submit">Update</button>
</form>
<br>
<br>
<%- include("../layouts/admin/layout.ejs"); -%>