<%- include("../../partials/admin/header.ejs"); -%>
<h1>Categories</h1>
<a href="/admin/categories/add_category">Add a New Category</a>
<br>
<br>
<div>
    <%- include("../../partials/errorMessage.ejs"); -%>
</div>



<%- include("../../layouts/admin/layout.ejs"); -%>

