<%- include("../../partials/admin/header.ejs"); -%>
<h1>Pages</h1>
<a href="/admin/pages/add_page">Add a New Page</a>
<br>
<br>
<div>
    <%- include("../../partials/errorMessage.ejs"); -%>
</div>


<%- include("../../admin/pages/display_pages.ejs"); -%>

<%- include("../../layouts/admin/layout.ejs"); -%>

