<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/share/admin/layout.css">
    <title>Admin Management</title>
</head>
<body>
<hr>
<p>&COPY Tao Bao - Zhenzhong Zhou</p>
</body>
</html>