<%- include("../../partials/admin/header.ejs"); -%>
<br>
<br>
<h1>Add Product</h1>
<a href="/admin/product">Back To Products</a>
<br>
<br>
<form action="/admin/products/add_product" method="post" enctype="multipart/form-data">
    <%- include("../../admin/products/_form_fileds.ejs"); -%>
    <a href="/admin/products">Cancel</a>
    <button type="submit">Create</button>
</form>
<br>
<br>
<%- include("../../layouts/admin/layout.ejs"); -%>
