<nav class="navbar">
    <a class="brand">Admin Page</a>
    <a href="/admin/index">Pages</a>
    <a href="">Category</a>
    <a style="float: right">Logout</a>
    <a style="float: right">Admin Account</a>
</nav>