<nav class="navbar">
    <a class="brand" href="/admin">Admin Page</a>
    <a href="/admin/pages">Pages</a>
    <a href="">Category</a>
    <a style="float: right">Logout</a>
    <a style="float: right">Admin Account</a>
</nav>