<nav class="navbar">
    <a class="brand">Admin Page</a>
    <a href="">Pages</a>
    <a href="">Category</a>
    <a style="float: right">Admin Account</a>
    <div class="dropdown">
        <li class="dropdown-menu">User Management</li>
        <div class="dropdown-content">
            <a href="#">Welcome, user.name</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
        </div>
    </div>
</nav>